/*init*/
html {
    font-size: 125%;
    font-family: Arial, "Times New Roman", "Microsoft YaHei", SimSun, SimHei;
    font-weight:500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
body{
    margin: 0;
}
.active {
    border-bottom: 2px solid #fff;
}

/*header*/

header .span1{
    font-size: 0.7rem;
    color: #1DB176;
    line-height: 40px;
    float: left;
    white-space:nowrap;
}
header .weixin,.qq,.weibo{
    width: 26px;
    height: 25px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    cursor: pointer;
}
header .weixin{
    background-position: -465px -132px;
}
header .qq{
    background-position: -456px -167px;
}
header .weibo{
    background-position: -466px -106px;
}
header .navbar{
    background-color: #1DB176;
    color: #FFF;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

header .navbar-nav{
    float: right;

}
header .navbar-nav li{
    text-align: center;
    list-style-type: none;
    width: 80px;
    cursor: pointer;
}
header .navbar-nav .nav-title{
    padding-top: 35px;
    padding-bottom: 30px;
}
header .navbar-nav .nav-white{;
    height: 5px;
}
.navbar-nav li:hover .nav-white{
    background-color: #FFF;
}
+ {
     height: 5px;
     background-color: #FFF;
}
header img{
    margin-top: 20px;
    margin-left: 15px;
    float: left;

}
.navbar2{
    position: absolute;
    right: 10px;
    top: 10px;
}
.navbar2 .btn{
    background-color: #1DB176;
    border: none;
    font-size: 1.2rem;
    color: #1D734F;
    padding: 6px 10px 0 10px;
}
header .navbar .container .btn-default:focus {
    background-color: #218D60;
    outline: none;
    color: #1D734F;
}
header .navbar .container .btn-default:active {
    background-color: #218D60;
    color: #1D734F;
}
header .navbar-collapse{
    text-align: center;
    border-top: solid;border-color: #E2E2E2;border-width: 1px;
}
header .nav a{
    color: #FFF;
}
header .nav>li>a:hover{
    background-color: #1DB176;
    border-bottom: solid;border-color: #FFF;border-width: 1px;
}
header .nav>li>a:focus{
    background-color: #1DB176;
    border-bottom: solid;border-color: #FFF;border-width: 1px;
}
a{
    color: #FFF;;
}
header .tanchuang{
    background-color: #1DB176;
}

/*main*/
main{
    background-color: #FAFAFA;
}
main .item{
    cursor: pointer;
}
main .publicize{
    padding-top: 50px;
    padding-bottom: 50px;
}
main .publicize .i1{
    width: 43px;
    height: 62px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -94px -111px;
    margin: auto;
}
main .publicize .i2{
    width: 60px;
    height: 48px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -441px -57px;
    margin: auto;
    margin-top: 14px;
}
main .publicize .i3{
    width: 52px;
    height: 55px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -441px 0;
    margin: auto;
    margin-top: 7px;
}
main h4{
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}
main  h6{
    color: #999;
}
main .publicize .h6-regulation{
    max-width: 200px;
    margin: auto;
}
main .publicize .i4{
    width: 14px;
    height: 14px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -502.5px 1px;
    float: left;
}
main .publicize span{
    display: block;
    font-size: 0.65rem;
    margin-top: -3px;

    color: #1DB176;
}
main .publicize .i4-regulation{
    margin-top: 30px;
}
main .publicize-4{
    padding-top: 30px;
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #DEDEDE;
    padding-bottom: 30px;
    padding-left: 40px;
}

main .step{
    height: 40px;
    width: 40px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #888888;
    float: right;
}
main .step span{
    display: block;
    padding-top: 10px;
    text-align: center;
}
main .step-font{
    color: #999;
    width: 120px;
    float: left;
}
main .step-into{
    width: 27px;
    height: 26px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -266px -169px;
    float: right;
    position: relative;
    top: 10px;
}
main .avator1{
    width: 108px;
    height: 108px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -331px 0;
    margin: 0 auto;
}
main .avator2{
    width: 108px;
    height: 108px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
}
main .avator3{
    width: 108px;
    height: 108px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -111px 0;
    margin: 0 auto;
}
main .avator4{
    width: 108px;
    height: 108px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: -221px 0;
    margin: 0 auto;
}
main .teacher{
    background-color: #FFF;
    padding: 20px;
    border: solid;
    border-color: #E2E2E2;
    border-width: 1px;
}
main .row .footer{
    padding: 5px;
    border-radius: 50%;
    background-color: #FFF;
    border: solid;
    border-color: #E2E2E2;
    border-width: 1px;
}
main .width{
    margin-top: 5px;
    width: 60px;
}
main .container .row .active{
    background-color: #1DB176;
}
main .cooperation1{
    width: 144px;
    height: 55px;
    background-position: -320px -111px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    margin: auto;
}
main .cooperation2{
    width: 53px;
    height: 58px;
    background-position: -139px -111px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    margin: auto;
}
main .cooperation3{
    width: 134px;
    height: 47px;
    background-position: -320px -168px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    margin: auto;
}
main .cooperation4{
    width: 170px;
    height: 39px;
    background-position: -94px -175px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    margin: auto;
}
main .cooperation5{
    width: 124px;
    height: 56px;
    background-position: -194px -111px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    margin: auto;
}
main .cooperation{
    width: 20%;
    min-width: 180px;
    padding: 30px 0;
    background-color: #FFF;
    cursor: pointer;
    border: solid;border-color: #FFF;border-width: 1px;
}
main .cooperation:hover{
    border: solid;border-color: #E2E2E2;border-width: 1px;
}
main .coo-main{
    display: flex;
}
.step > span {
    color:  green;
}
.cpd{
    padding: 0;
}
.carousel-inner img{
    width: 100%;
}
.foot-title {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

/*footer*/
footer {
    margin-top: 30px;
}
footer h4{
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}
footer li{
    width: 10%;
    color: #999;
    font-size: 0.6rem;
    float: left;
    cursor: pointer;
}
.footer-a-under{
    width: 63px;
    height: 2px;
    background-color: #1DB176;
    position: relative;
    left: -15px;
    display: none;
}
footer li:hover .footer-a-under{
    display: block;
}
footer .footer-bottom{
    background-color: #1DB176;
    padding-bottom: 5px;
}
footer h5{
    color: #FFF;
}
footer h6{
    color: #FFF;
    cursor: pointer;
}
footer .QR-code{
    width: 92px;
    height: 92px;
    background-image: url("CssGaga.png");
    background-repeat: no-repeat;
    background-position: 0 -111px;
}
/**/
.mybug1{
    margin-top: 40px
}
.underline{
    padding-bottom: 4px;border-bottom: solid;border-color: #1DB176;border-bottom-width: 1px
}
.underline:hover{
    padding-bottom: 4px;border-bottom: solid;border-color: #FFF;border-bottom-width: 1px
}
/*media*/
@media (min-width: 768px) {
    .navbar2{
        display: none;
    }
    header .tanchuang{
        display: none;
    }
}
@media (max-width: 768px){
    footer .footer-bottom .container{
        padding-left: 25px;
    }

}
@media (max-width: 767px) {
    header .weixin,.qq,.weibo{
        margin-right: 5px;
    }
    main .publicize-4 {
        padding-top: 30px;
        border-left: none;
        padding-bottom: 30px;
    }

    .media-my1 {
        margin: 0 auto;
        width: 200px;
    }

    main .step-into{
        display: none;
    }
    .mybug2{
        display: none;
    }
    .navbar-nav{
        display: none;
    }
    .h6-regulation{
        padding-bottom: 40px;
    }
    header img{
        margin: 10px;

    }
}
@media (max-width: 991px) {

    main .coo-main{
        display: block;
    }
    main .cooperation{
        width: 80%;
        min-width: 180px;
        margin: 0 auto;
        background-color: #FFF;
        cursor: pointer;
    }
    footer .col-md-2{
        padding-left: 0;
    }
    .step-into2{
        display: none;
    }
    .f1{
        margin-bottom: 40px;
    }
}
@media (max-width: 424px){
    .f2{
        float: none;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 40px;
    }
    .f2>.row .step-font{
        width: auto;
    }
    .f1{
        margin-bottom: 0;
    }
    .mybug1{
        margin-top: 0;
    }
}
.main-li-1 > a {
    color: #999;
}
.main-li-1 {
    float: left;
    width: 10%;
}
@media screen and (min-width:425px) and (max-width:945px) {
.main-li-1 {
    width: 20%;
}
}
@media screen and (max-width:424px) {
.main-li-1 {
    width: 50%;
}
}